.login-form {
  display: flex;
  align-self: center;
  width: 310px;

  .registration-text {
    color: #04233d;
  }
  .registration-text:hover {
    color: #1890ff;
  }
  .form-item {
    width: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  .hide {
    display: none;
  }
  .login-form-button {
    width: 100%;
    margin-top: 20px;
  }

  .login {
    text-align: center;
  }

  .parent-error-input {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.error-input {
  color: red;
  position: absolute;
}

.parent-error-input {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hide {
  visibility: hidden;
}