.login-form {
  display: flex;
  align-self: center;
  width: 310px;
  .login-form a {
    color: #04233d !important;
  }

  .form-item {
    width: auto;
    margin-bottom: 10px;
    text-align: center;
  }

  .login-form-button {
    background-color: #04233d !important;
    border-color: #04233d !important;
    width: 100%;
  }

  .login {
    text-align: center;
  }

  .error-input {
    text-align: center;
    color: red;
  }
}
