.login-form {
    display: block;
    align-self: center;
}

.login-form a {
    color: #04233d !important;
}

.form-item {
    margin-bottom: 10px;
}

.login-form-button {
    background-color: #04233d !important;
    border-color: #04233d !important;
    width: 100%;
}

.login {
    float: left;
}

.login-forgot {
    float: right;
}