.login-form{
    display: block;
    text-align: center;
    align-self: center;
}
.login-form a {
    color: #04233d;
}
.form-item {
    margin-bottom: 10px;
}
.login-form-button {
    background-color: #04233d;
    border-color: #04233d;
    width: 100%;
}
.logIn {
     text-align: left;
 }
.check-box{
    float: left;
}
.login-forgot{
    float: right;
}
