.open-a-q-card {
  border: none;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    button {
      width: 100px;
      margin-top: 10px;
    }
  }
}
