.symbol-answer-question-card {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  width: 95%;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    .submit-button {
      width: 100px;
      margin-top: 10px;
    }
  }
}

.input-answer {
  margin-bottom: 15px;
}