.test-title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.test-title-border {
  border-bottom: 1px solid #e8e8e8;
  width: 50%;
  margin-bottom: 45px;
}

.text-test-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #03233c;
}