.all-tasks-time {
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 75px;
  align-content: center;
  text-align: center;
  background-color: #f7f8f0;
}


.all-tasks-title {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  .link-name-group {
    color: rgba(0, 0, 0, 0.65);
  }
  .link-name-group:hover {
    color: #1890ff;
  }
}

.all-tasks-author {
  //font-weight: lighter;
  font-size: 12px;
}

.parent-button-edit-task {
  margin-right: 5px;
}

.all-tasks-group-button {
  display: flex;
  flex-direction: row;
}

selector-for-inputs {
  width: 40px;
  float: left;
}
.header-tasks {
  line-height: 50px;
  text-align: center;
  border-color: #222222;

  font-size: 17px;
  font-weight: 600;
}