.all-tasks-time {
  display: flex;
  flex-direction: column;
  width: 63px;
  height: 63px;
  align-content: center;
  text-align: center;
  background-color: #f7f8f0;
}


.all-tasks-title {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  .link-name-group {
    color: rgba(0, 0, 0, 0.65);
  }
  .link-name-group:hover {
    color: #d9d9d9;
  }
}

.all-tasks-author {
  //font-weight: lighter;
  font-size: 12px;
}

.parent-button-edit-task {
  margin-right: 5px;
}

.all-tasks-group-button {
  display: flex;
  flex-direction: row;
}