.form-registration {
    margin-top: 5vh;
    margin-left: 20%;
    width: 60%;
    max-width: 510px;
    min-width: 375px;
    min-height: 400px;
    text-align: left;
}

.registration-label-class {
    color: #04233d;
    font-size: 20px;
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 52%;
    margin-top: 15px;
}

@media screen and (min-width: 1125px) {
    .registration-label-class {
        margin-left: 45%;
    }
}

@media screen and (min-width: 1000px) {
    .form-registration {
       margin-left: 25%;
    }
}

@media screen and (max-width: 575px) {
    .form-registration{
        height: 850px;
    }
}

