.create-group-container {
  margin: 10px;
  .section-tree {
    width: 100%;
  }

  .tags-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 25px;
    .tree-container {
      min-width: 40%;
    }
  }
}