.create-group-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .error-input {
    text-align: center;
    color: red;
    margin-top: 20px;
  }
  .group-name-input {
    text-align: center;
    width: 95%;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .section-tree {
    width: 100%;
  }

  .tags-container-create-group {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 25px;
    margin-bottom: 25px;
    .tree-container {
      min-width: 40%;
    }
  }
  .student-list-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
  }

  .create-group-button {
    margin: 20px;
    height: 32px;
    background-color: #04233d;
    color: #fff;
    border-color: #04233d;
  }
  .student-list {
    width: 45%
  }
  .current-group-list {
    width: 45%
  }
}