.profile {
  .top-page {
    background-color: #011525;
    height: 60px;
    border-radius: 0px 0px 30px 30px;
    position: relative;
  }

  .label-top {
    color: white;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .right-top {
    float: right;
    max-width: 48%;
    margin-top: 20px;
  }
}
