.test-properties-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .header {
    line-height: 50px;
    text-align: center;
    border-color: #222222;
    font-size: 17px;
    font-weight: 600;
  }
  .input-task-name {
    //display: flex;
    //flex-direction: column;
    //text-align: center;
    //width: 100% !important;
    ////border: none;
    //font-size: 20px;
    //margin-bottom: 20px;
    //margin-top: 15px;
    height: 20px;
    width: 90%;
    margin-bottom: 15px;

  }
  .name-form-item {
    width: 100%;
    margin: 10px 0 0 30px;
  }
  .time {
    margin-left: 10px;
  }
  .input-count-questions, .input-data {
    margin-left: 10px;
    width: 55px;
    align-items: center;
    //margin-bottom: 5px;
  }
  .parent-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
    width:100%;
    text-align: left;
  }
  .input-task-tags {
    width: 100%;
  }
  .form-item {
    margin-bottom: 10px;
    display:  flex;
    flex-direction: row;
    width: 100%;
  }
  .form-item-tree-with-tags {
    margin-left: 100px;
    width: 95%;
  }
  .count-questions-input {
    width: 20%;
  }
  .right-group-form-items {
    width: 50%;
  }
  .parent-group-input {
    display: flex;
    .input-hour-lead-time {
      width: 40px;
      border-right: none;
    }
    .input-min-lead-time {
      width: 40px;
      border-right: none;
      border-left: none;
    }
    .input-second-lead-time {
      border-left: none;
      width: 40px;
    }
    .input-years-lead-time {
      border-left: none;
      width: 55px;
    }
    .text-between-input {
      width: 25px;
      border-left: none;
      border-right: none;
      pointer-events: none;
      background-color: #fff;
    }
  }
  .tags-test-properties {
    width: 95%;
  }
  .parent-student-list {
    display: flex;
    width: 95%;
    margin-top: 10px;
  }
  .button-assign {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}