.parent-group-input {
  display: flex;
  .input-hour-lead-time {
    width: 40px;
  }
  .input-min-lead-time {
    width: 40px;
    border-left: 0;
  }
  .input-second-lead-time {
    border-left: 0;
    width: 40px;
  }
  .text-between-input {
    width: 25px;
    border-left: 0;
    pointer-events: none;
    background-color: #fff;
  }
}