.menu-link {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.badge-test {
  margin-left: 40px;
  position: absolute;
  margin-top: 11px;
}
.hide{
  display: none;
}
.badge-answer {
  margin-left: 122px;
  position: absolute;
  margin-top: 11px;
}