@import url(https://fonts.googleapis.com/css?family=LuganskyV);

.page-header {
    background-color: #04233d !important;
    width: 100%;
}

.text-logo {
    color: #ffffff;
    font-family: 'LuganskyV';
}

.parent-logo {
    display: flex;
    flex-direction: row;
}

.logo-img {
    width: 50px;
    height: 50px;
}
