@import url(https://fonts.googleapis.com/css?family=LuganskyV);

.page-header {
  background-color: #04233d !important;
  width: 100%;
  display: flex;

  .logo {
    display: flex;
    width: auto;
  }
  .text-logo {
    color: #ffffff;
    font-family: 'LuganskyV';
  }

  .parent-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }
  .button-exit, .name-username {
    font-family: 'LuganskyV';
    display: flex;
    float: right;
    color: #fff;
    border-color: #04233d;
  }
  .name-username{
    margin-right: 20px;
  }
  .username, .exit-block {
    display: flex;
    align-items: center;
    width: auto;
  }
  .button-exit:hover {
    color: #a6ddfd;
  }
  .user, .logout {
    font-size: 20px;
    color: white;
    height: 20px;
    margin-right: 3px;
  }
}
