.button-table {
  color: #04233d;
  height: 32px;
  border: none;
}

.current-students-list {
  width: 95%;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.border-current-students-list {
  border: 1px solid rgb(217, 217, 217);
  width: 49%;
  border-radius: 4px;
}

.students-list {
  width: 100%;
}

.search-student-list {
  background-color: #04233d;
}

.student-list-content {
  width: 50%;
}

.parent-radio-button {
  width: 100%;
  margin-top: 7px;
}

.parent-radio-button-groups {
  width: 50%;
}

.parent-radio-button-students {
  width: 50%;
}