.tags-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 25px;
  .section-tree {
    width: 100%;
  }
  .tree-container {
    min-width: 40%;
  }
  .section-tree{
    width: 100%;
  }
}