.main-body-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  width: 85%;
}

.parent-main-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.left-main-body {
  width: 10%;
}

.right-main-body {
  width: 5%;
}

.main-body-container-unlogged {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.switch-div {
  width: 84%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  align-items: center;
}

