.buttons-group-table {
  display: flex;
  flex-direction: row;
}

.parent-button-assign-test {
  margin-right: 5px;
}

.parent-button-assign-task {
  margin-right: 50px;
}

.parent-button-add-students-blank-page {
  text-align: center;
}

.block-button-add-students-blank-page {
  margin-top: 25px;
}