.student-row {
  display: flex;
  flex-direction: column;
  .buttons-table {
    width: 20%;
    display: flex;
    flex-direction: row;
  }
  .parent-button-edit-group, .parent-button-assign-test, .parent-button-assign-task {

  }
  .parent-button-delete-group {
    margin-left: 15px;
  }

  .parent-button-add-students-blank-page {
    text-align: center;
  }

  .block-button-add-students-blank-page {
    margin-top: 25px;
  }
  .group-name-list {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    font-size: 20px;
  }
  .radio-buttons{
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    text-align: center;
  }
  .group-name{
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .link-name-student{
    color: rgba(0, 0, 0, 0.65);
  }
  .link-name-student:hover {
    color: #1890ff;
  }
}
