.structure-question {
  text-align: center;
  .header {
    line-height: 50px;
    text-align: center;
    border-color: #222222;
    font-size: 17px;
    font-weight: 600;
  }

  .tags, .one-answer, .level, .answer-type, .add-question, .text-question, .block-answer, .false-answer, .true-answer {
    margin: 10px 10px 10px 10px;
  }
  .parent-input {
    display: flex;
  }
  .parent-input.hide{
    display: none;
  }
  .button-add-question {
    height: 32px;
    background-color: #04233d;
    color: #fff;
    border-color: #04233d;
    margin: 15px;
  }

  .block-answer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .answer {
    height: 20px;
    width: 90%;
    margin-bottom: 5px;
  }

  .level, .answer-type {
    display: inline-flex;
    justify-content: left;
    width: 100%;
  }

  .text-level, .text-variant {
    margin-right: 7px;
  }

  .false-answer, .true-answer {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .add-input {
    text-align: center;
    width: 90%;
  }

  .error-input {
    color: red;

  }
  .button-delete {
    color: #04233d;
    height: 32px;
    border: none;
  }
}