.header {
  line-height: 50px;
  text-align: center;
  border-color: #222222;
  font-size: 17px;
  font-weight: 600;
}

.tags, .one-answer, .level, .answer-type, .add-question, .text-question, .block-answer, .false-answer, .true-answer {
  margin: 10px 10px 10px 10px;
}

.structure-question {
  text-align: center;
}

.button-add-question {
  height: 32px;
  background-color: #04233d;
  color: #fff;
  border-color: #04233d;
  margin: 15px;
}

.block-answer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.answer {
  height: 23px;
  margin-bottom: 5px;
}

.level, .answer-type {
  display: inline-flex;
  justify-content: left;
  width: 100%;
}

.text-question {
}

.add-question {

}

.false-answer, .true-answer {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.add-input {
  text-align: center;
}