.training-test-body {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .tree-container {
    width: 50%;
    margin-bottom: 10px;
    .section-tree {
      width: 100%;
    }
  }
}