.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .section-tree {
    width: 100%;
  }

  //.input-task-name {
  //  border: none;
  //  text-align: center;
  //  font-size: 20px;
  //  margin-top: 10px;
  //  margin-bottom: 20px;
  //  width: 90%;
  //}
  .input-task-desc {
    width: 90%;
    margin: 5px;
    text-align: center;

  }

  .set-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    .input-set {
      width: 45%;
      margin: 0 5px 5px 5px;
    }
  }
  .set-num {
    width: 60px;
  }

  .in-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    .add-set-button {
      margin-top: 10px;
      width: 40%;
    }
  }
  .select-add-task {
    width: 60px;
  }
  .task-upload-button {
    margin: 30px;
  }
  .tree-with-tags {
    width: 90%;
    margin-top: 25px;
  }
}
.input-task-name {
  text-align: left;
  height: 20px;
  width: 90%;
  margin-bottom: 15px;

}
.error-input-parent {
  justify-content: center;
  display: flex;
}

