.list-check-tests {
  .button-check-test-list {
    color: rgba(0, 0, 0, 0.45);
    border: none;
    margin-left: -15px;
    margin-top: 10px;
  }
  .description {
    margin-top: 5px;
  }
  .student-information {
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.65)
  }
  .link-check-test-list {
    color: rgba(0, 0, 0, 0.45);
  }
  .button-check-test-list:hover {
    color: #04233d;
  }
  .link-check-test-list:hover {
    color: #04233d;
  }
  .test-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .check-test-list {
    margin-left: 20px;
    width: 100%;
  }
  margin-bottom: 25px;
}

